maze-weight = 21
maze-height = 21
generation-random = false
generation-lfsr = false
generation-select = 6
search-random = false
search-select = 4
generation-next-action = 0
generation-next-play = 0
search-next-action = 0
search-next-play = 0
play = true
speed-duration-slow = 100.0
speed-duration-fast = 10.0
speed = false
play-state = 再生中：探索
maze-size-tile = 10
maze-size-wall-thin = 2
maze-wall-thin = false
log-snapshot-interval = 1000
save = true
