maze-weight = 31
maze-height = 21
generation-random = true
generation-lfsr = false
generation-select = 3
search-random = false
search-select = 3
generation-next-action = 0
generation-next-play = 0
search-next-action = 0
search-next-play = 0
play = true
speed-duration-slow = 100.0
speed-duration-fast = 10.0
speed = false
play-state = During rendering: Search
maze-size-tile = 10
maze-size-wall-thin = 2
maze-wall-thin = false
log-snapshot-interval = 1000
save = true
